@font-face {
    font-family: "Poppins-600";
    font-weight: 600;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-500";
    font-weight: 500;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-300";
    font-weight: 300;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-700";
    font-weight: 300;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Abril_Fatface";
    font-weight: 400;
    src: url(../fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}