@import '/src/assets/colors/colors.scss';
@import '/src/assets/fonts/fonts.scss';
.box {
    width: 100vw;
    height: 20%;
    background-color: $green;
    display: flex;
    flex-direction: row;
}
.container {
    position: relative;
    width: 20%;
}

.bubble_purple {
    position: absolute;
    top: -50px;
    right: 0;
    z-index: 1;
}

.bubble_cyan {
    position: absolute;
    top: -30px;
    right: 0;
    z-index: 2; 
}

.box_logo {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    .logo {
        width: 28vw;
    }
}
.box_btns {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .buttons{
        background-color: $btn-purple;
        border-radius: 12px;
    }
    .login{
        width: auto;
        padding: 2vh 2vw;
    }
    .cadastro {
        width: auto;
        padding: 2vh 2vw;
    }
    .text_btn{
        color: $btn-text;
        font-family: 'Poppins-600';
        font-size: 18px;
        display: flex;
        align-items: center;
    }
}

.box_icons{
    display: none;
}

@media only screen and (min-width: 672px) and (max-width: 1300px) {
    .box{
        height: 15%;
    }
    .bubble_purple, .bubble_cyan {
        display: none;
    }
    .box_btns{
        .text_btn{
            font-size: 14px;
        }
    }
    .box_icons{
        display: none;
    }
}

@media only screen and (max-width: 672px) {
    .box{
        height: 15%;
        justify-content: space-between;
        .box_logo{
            width: 50vw;
            margin-left: 20vw;
            .logo{
                width: 200%;
            }
        }
    }
    .bubble_purple, .bubble_cyan {
        display: none;
    }
    .box_btns{
        display: none;
    }
    .box_icons{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .buttons {
            width: 32px;
            height: 32px;
            border-radius: 50px;
            background: $btn-purple;
            border: none;
            outline: none;
            box-shadow: none;
            .icon{
                width: 32px;
                height: 100%;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 8px;
                color: $black;
            }
        }
    }
}